header {
    background:#222222; 
    color: white; 
    font-size: small;
    height: 25px; 
    padding-left: 20px
    padding-top: 10px; 
}

#part1 {
    padding-left: 20px
}

#part2{
    float: right; 
    padding-right: 35px
}

#part3{
    float: right; 
    padding-right: 15px
}